@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Medium.woff2') format('woff2'),
        url('../fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}


.header-inner {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 17px;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #2F281E;
}

.nav-btn {
    display: flex;
    gap: 15px;
}

.sign-in {
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    padding: 7px 14px;
    color: #173A56;
}

.sign-up {
    background: #FF9900;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 7px 14px;
}

.heading-wrap {
    padding: 59px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-content {
    width: 500px;
}

.heading-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin: 0;
}

.heading-desc {
    padding: 30px 0 45px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    margin: 0;
}

.heading-buttons {
    display: flex;
    align-items: center;
    gap: 44.4px;
}

.heading-btn {
    padding: 15px 40px;
    margin: 0;
    text-decoration: none;
    display: inline;
    background: #FF9900;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.watch {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 9px;
}

.watch-video {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
}