::-webkit-scrollbar{
    width: 8px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #e22dd3, #d800e0);    border-radius: 4px;
}


/************* FONTS  ************/
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Medium.woff2') format('woff2'),
        url('../fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #fffefe;
}

img {
    vertical-align: middle;
}



/****** HEADER CONTENT START ******/

.header-inner {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 17px;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #2F281E;
}

.nav-link:hover {
    color: #FF9900;
}

.nav-btn {
    display: flex;
    gap: 15px;
}

.sign-in {
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    padding: 7px 14px;
    color: #173A56;
}

.sign-in:hover {
    background: #BCD0E5;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.sign-up {
    background: #FF9900;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 7px 14px;
}

/*******  HEADER CONTENT END *******/



/*******  MAIN CONTENT START *******/

/*******  Hero Section Start *******/
.heading-wrap {
    padding: 59px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-content {
    width: 500px;
}

.heading-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin: 0;
}

.heading-desc {
    padding: 30px 0 45px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    margin: 0;
}

.heading-buttons {
    display: flex;
    align-items: center;
    gap: 44.4px;
}

.heading-btn {
    padding: 15px 40px;
    margin: 0;
    text-decoration: none;
    display: inline;
    background: #FF9900;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.watch {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 9px;
}

.watch-video {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: none;
    color: #FF9900;
}

.watch-video:hover {
    text-decoration: underline;
}
/******** Hero Section end ********/



/******** Service Section Start ********/
.services {
    padding: 50px 0;
}

.our-title {
    display: block;
    margin: 0 auto;
    width: 462px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #2F281E;
    padding-bottom: 70px;
}

.service-content {
    position: relative;
}

.service-img {
    width: 1197px;
    height: 277px;
    background-image: url("../images/service-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    z-index: -1;
    bottom: -90px;
}

.service-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.service-item {
    width: 263px;
}

.service-title {
    padding: 30px 0 16px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #2F281E;
    margin: 0;
}

.service-desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin: 0;
    padding-bottom: 60px;
}

.service-btn {
    padding: 13px 30px;
    display: block;
    width: 171px;
    margin: 0 auto;
    background: #FF7549;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
/******** Service Section end ********/



/******** Strategy Section Start  ********/
.strategy {
    padding: 90px 0;
}

.strategy-title {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #2F281E;
}

.join-people {
    padding: 14px 0 24px 0;
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.cat-list {
    margin: 0;
    padding: 0 0 31px 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 7px;
}

.cat-link {
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 90px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    text-decoration: none;
    padding: 5px 15px;
    color: #544837;
}

.cat-active {
    border: 0;
    background: #FF9900;
    color: #fff;
}

.str-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.str-item {
    width: 377px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.str-item:hover {
    background: #FFFFFF;
    cursor: pointer;
    box-shadow: none;
}

.str-item:hover .str-title{
    color: #FF9900;
}

.str-img {
    border-radius: 8px 8px 0 0;
}

.str-title {
    padding: 24px 34px 29px 33px;
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #2F281E;
}

.cat-str-list {
    margin: 0;
    padding: 0 0 26px 33px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 4px;
}

.cat-str-link {
    background: #F5F5F5;
    border-radius: 90px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    text-decoration: none;
    padding: 5px 15px;
    color: #544837;
}

.str-list-2 {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
}

.str-item-2 {
    width: 787px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.str-item-2:hover 
{
    background: #FFFFFF;
    cursor: pointer;
    box-shadow: none;
}

.str-item-2:hover .str-title
{
    color: #FF9900;
}

.str-item-3 {
    width: 377px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.str-item-3:hover 
{
    background: #FFFFFF;
    cursor: pointer;
    box-shadow: none;
}

.str-item-3:hover .str-title
{
    color: #FF9900;
}
/******** Strategy Section End  ********/



/******** About Section Start  ********/
.about-us {
    padding: 6px 0 101px 0;
}
.about-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #2F281E;
    margin: 0;
}

.about-desc {
    padding: 14px 0 45px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin: 0;
}

.about-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.about-item {
    position: relative;
    padding: 36px 0 34px 35px;
    width: 345px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 0;
}

.name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin: 0;
}

.job {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #544837;
    margin: 0;
}

.email-address {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #1943EF;
    margin: 0;
}

.about-avatar {
    position: absolute;
    right: -35px;
    bottom: 23px;
    top: 34px;
}
/******** About Section End  ********/



/******** Contact Section Start  ********/
.contact {
    background: #FFEEE1;
}

.contact-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 62px 0 90px 0;
}

.left-content {
    width: 528px;
}

.contact-title {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #2F281E;
}

.contact-desc {
    padding: 17px 0 33px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin: 0;
}

.phone {
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 0;
    padding-bottom: 19px;
}

.tell {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #544837;
}


.email {
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 0;
}

.email-add {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #544837;
    margin: 0;
}

.register {
    display: flex;
    gap: 16px;
    padding-bottom: 18px;
    
}

.register input{
    caret-color: #2F281E;
    padding: 10px 0 10px 20px;
    outline: none;
    border: 1px solid transparent;
    width: 280.29px;
    background: #FFFFFF;
    border-radius: 5px;
    
}

.register input:hover {
    background: #FFF0F0;
    border: 1px solid #F03E3D;
    border-radius: 5px;
}

.register input:hover::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #F03E3D;
}

.register input:focus {
    background: #FFFFFF;
    border: 1px solid #FF9900;
    border-radius: 5px;
    box-sizing: border-box;
}

.register input::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #C6C6C6;
}

textarea {
    caret-color: #C6C6C6;
    outline: none;
    border: 1px solid transparent;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 9px 0 0 21px;
    width: 577px;
    height: 169px;
    resize: none;
}

textarea::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #C6C6C6;
}

textarea:focus {
    background: #FFFFFF;
    border: 1px solid #FF9900;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-btn {
    margin-top: 20px;
    display: block;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 13px 30px;
    background: #FF9900;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
/******** Contact Section End  ********/
/******** MAIN CONTENT END ********/



/******** FOOTER CONTENT START ********/

.footer-wrap {
    padding: 61px 0 72px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-title {
    padding: 0 0 15px 0;
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2F281E;
}


.footer-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
    text-decoration: none;
    margin: 0;
}

.footer-link:hover {
    color: #FF9900;
}

/******** FOOTER CONTENT END ********/